@import url('/assets/fonts/Lato/stylesheet.css');

$font-color-primary: #000000;
$font-color-secondary: #E6E6FA; // rgba(245, 245, 245, 1)
$font-color-tertiary: #9400D3; // rgba(96, 110, 123, 1)

$color-primary: #000000;
$color-secondary: #E6E6FA; // rgba(245, 245, 245, 1)
$color-tertiary: #9400D3;

$background: rgba(75, 0, 130, .1);

$banner-fade: linear-gradient(to right,rgba(75, 0, 130,1), rgba(75,0,130, .80));

@mixin flex($dir, $jc-pos, $ai-pos) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc-pos;
    align-items: $ai-pos;
}

html {
    height: 100%;
}

body {
    @include flex(column, flex-start, center);
    padding: 7vmin 0 0 0;
    height: 100%;
    box-sizing: border-box;
}